<div class="eKart--header">
  <div class="eKar-logo">Ekart</div>
  <div class="ekart--header--nav">
    <!-- <Top menu ></Top> -->
    <app-top-menu></app-top-menu>
    <!-- <div class="ekart--top--bar">
      <a href="#">Help</a>
      <a href="#">Exchange & Return</a>
      <a href="#">Order Tracker</a>
      <a href="#">SignUp/Login</a>
    </div> -->
    <div class="ekart--botton--bar">
      <!-- <ecart main menu></ecart> -->

      <app-main-menu></app-main-menu>
      <!-- <div class="ekart-menu">
        <a href="#">Home</a>
        <a href="#"> Products</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
      </div> -->
      <div class="ekart--search-bar">
        <input type="text" class="ekart-search-box" placeholder="Search" />
        <button class="ekart--search--btn">
          <i class="fa fa fa-search" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>
</div>
