<p>practice works!</p>
<h1>viewChildren</h1>

<div>
  <input type="text" placeholder="FirstName" #passingViewChildren /><br />
  <input type="text" placeholder="Middle Number" #passingViewChildren /><br />
  <input type="text" placeholder="Last Name" #passingViewChildren /><br />
  <button type="button" (click)="getViewChildren()">Submit</button>
</div>

<p>Full name {{ fullName }}</p>
<!-- <div>
  <input type="text" #pssingViewChild />
  <button type="button" (click)="passTheReference()">Click Me</button>
</div>
<div>
  <p>this is the demo of viewChid() decorator{{ getInputValue }}</p>
</div>

<div>
  <h1>Reference Template Reference</h1>
  <input type="text" #templateRef />
  <button type="button" (click)="passTempReference(templateRef)">
    Click Me
  </button>
</div>
<div>
  <p>this is the demo of viewChid() decorator{{ getInputValue }}</p>
</div>

<div>
  <p>this is the demo of Template Refrance{{ tempRefInput }}</p>
</div> -->
