<p>product-list works!</p>
<app-search></app-search>
<!-- <p>FirstName: {{ First_Name }}</p>
<p>LastName:{{ Last_Name }}</p>
<p>Age:{{ Age }}</p>
<p>Education:{{ Education }}</p>
<p>helo this is the product name: {{ product.product_name }}</p> -->
<!-- <button [disabled]="!product.instock < 0">click Me</button> -->
<!-- <button [disabled]="true">Click ME</button>
<input type="text" [value]="product.product_name" />
<p>{{ product.getStock() }}</p>

<input (input)="onChangeData($event)" />
<p>{{ First_Name }}</p>

<button (click)="getDecrement($event)">-</button>
<p>{{ count }}</p>
<button (click)="getIncrement($event)">+</button> -->
